@media screen and (min-width: 1440px) {

    .textfield>.title,
    .textfield>.input,
    .text-point {
        font-size: 1.6rem;
    }

    legend,
    .subtitle {
        font-size: 1.6rem;
    }

    table,
    .web-rule136 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1366px) {

    .textfield>.title,
    .textfield>.input,
    .text-point {
        font-size: 1.6rem;
    }

    legend,
    .subtitle {
        font-size: 1.6rem;
    }

    table,
    .web-rule136 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1280px) {

    .textfield>.title,
    .textfield>.input,
    .text-point {
        font-size: 1.5rem;
    }

    legend,
    .subtitle {
        font-size: 1.5rem;
    }

    table {
        font-size: 1.3rem;
    }

    .web-rule136 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 992px) {

    .textfield>.title,
    .textfield>.input,
    .text-point {
        font-size: 1.4rem;
    }

    legend,
    .subtitle {
        font-size: 1.4rem;
    }

    table {
        font-size: 1.2rem;
    }

    .web-rule136 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .textfield>.title,
    .textfield>.input,
    .text-point {
        font-size: 1.4rem;
    }

    legend,
    .subtitle {
        font-size: 1.4rem;
    }

    table,
    .phone-point-136 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {

    .textfield>.title,
    .textfield>.input,
    .text-point {
        font-size: 1.3rem;
    }

    legend,
    .subtitle {
        font-size: 1.3rem;
    }

    table,
    .phone-point-136 {
        font-size: 1rem;
    }
}


@media screen and (max-width: 450px) {

    .textfield>.title,
    .textfield>.input,
    .text-point {
        font-size: 1.2rem;
    }

    legend,
    .subtitle {
        font-size: 1.2rem;
    }

    table,
    .phone-point-136 {
        font-size: 1rem;
    }
}


@media screen and (max-width: 330px) {

    .textfield>.title,
    .textfield>.input,
    .text-point {
        font-size: 1rem;
    }

    legend,
    .subtitle {
        font-size: 1rem;
    }

    table,
    .phone-point-136 {
        font-size: 0.8rem;
    }
}