legend {
    margin: 0 auto;
}

form>fieldset {
    margin: 2% 3%;
    border-color: black;
}

.box>form {
    margin-bottom: 5%;
}

.subtitle {
    position: absolute;
    color: black;
    background: antiquewhite;
}

.answer1 {
    display: none;
    margin: 3%;
}