.divider {
    height: 50px;
}

.web-point-136 {
    position: absolute;
    bottom: 28px;
    left: 150px;
    z-index: 100;
    background-color: azure;
    border-radius: 10px;
    padding: 2%;
}


.phone-point-136 {
    margin: 0% 3% 3% 3%;
}

.web-rule136 {
    width: 60%;
}

.watermark {
    position: relative;
    aspect-ratio: 1204/1650;
    height: 100px;
}

.point {
    display: none;
    margin: 2%;
    padding: 3%;
    background: antiquewhite;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .web-rule136 {
        display: block;
        min-width: 178px;
    }

    .phone-point-136 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .web-rule136 {
        display: none;
    }

    .phone-point-136 {
        display: block;
    }
}