.divider {
    height: 50px;
}

.phone-point-136 {
    margin: 0% 0% 3% 3%;
}

.web-rule136 {
    flex-direction: row;
    position: absolute;
    margin: 0% 2%;
}

.watermark {
    position: relative;
    aspect-ratio: 1204/1650;
    height: 100px;
}

.point {
    display: none;
    margin: 2%;
    padding: 3%;
    background: antiquewhite;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .web-rule136 {
        display: flex;
    }

    .phone-point-136 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .web-rule136 {
        display: none;
    }

    .phone-point-136 {
        display: block;
    }
}