.ctitle {
    color: white;
    padding: 2% 0%;
    font-size: 2.3em;
    font-weight: 700;

}

.nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items:center;
}

@media screen and (max-width: 427px) {
    .ctitle {
        color: white;
        margin: auto;
        font-size: 1.7em;

    }
}

@media screen and (max-width: 321px) {
    .ctitle {
        color: white;
        margin: auto;
        font-size: 1.4em;

    }
}


footer {
    background-color: black;
    color: white;
    padding: 3vh 0%;
}

footer .content {
    margin: 0% 0% 0% 3%;
}