.textfield {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.textfield:nth-child(3),
.textfield:nth-child(4) {
    margin: 3% 0% 0% 0%;
}

.textfield .title {
    word-break: keep-all;
    margin: 0% 5% 0% 0%;
}

input {
    min-width: 77px;
    width: 31%;
    background-color: transparent;
    display: block;
    outline: none;
    border-style: none none solid none;
}

input[type=text i]:focus {
    border-style: none none solid none;
}