@import url(https://fonts.googleapis.com/css?family=Roboto);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0% 10%;
}



.inputwithlabel {
  display: flex;
  flex-direction: row;
  margin: 3% 0% 0% 0%;
}

.questionslabel {
  width: 32%;
}

.questionsinput {
  width: 68%;
  height: 100%;
}

.questionselect {
  width: 100%;
  height: 100%;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 100%;
}

.form {
  width: 40%;
  height: 17rem;
  background-color: antiquewhite;
}

.form.q1 {
  border-radius: 10% 0% 0% 0%;
}

.form.q2 {
  border-radius: 0% 10% 0% 0%;
}

.form.q3 {
  border-radius: 0% 0% 0% 10%;
}

.form.q4 {
  border-radius: 0% 0% 10% 0%;
}

.form-content {
  margin: 3%;
}

.divider {
  height: 48px;
}